<% provide(:title, 'Help') %>
<h1 class="center">Help</h1>
<div class="center hero-unit" id="help-text">
<p>
    You want good vibes. We've got your vibes right here. Here's how it works:
</p>
<p>
    Type your artist, genre, or track of choice into our search bar, and embark
    on a journey of fast-paced musical discovery. You'll have thirty seconds to
    hit either the <b>left</b> arrow key if you don't like the track, the
    <b>right</b> arrow key if you do, or the <b>up</b> arrow key if you feel
    neutral.
</p>
<p>
    Once you've judged at least ten songs, hit the <b>down</b> arrow key to see your
    vibes!
</p>
<h3>
    Now <a href="/">click here</a> to get started!
</h3>
</div>
