<header class="navbar navbar-fixed-top">
    <div id="header-background">
        <div class="container">
			<%= link_to image_tag("vibefire.png", alt: "", height: "35", width: '150'), root_path, id: "logoimage" %>
        </div>
    </div>
</header>
